@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #031540;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 18px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
.home {
  height: 100vh;
  background: linear-gradient(-90deg, #031540 65%, #fff 35%);
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.image-home {
  background-color: #031540;
  height: 500px;
  width: 500px;
  border-radius: 50px;
}
.image-home img {
  height: 500px;
  border-radius: 40px;
}
.home-content {
  color: white;
  max-width: 650px;
  text-align: right;
}
.home-content h1 {
  font-size: 50px;
  line-height: 1.2;
}
.home-content h3 {
  font-size: 35px;
  color: #00abf0;
}
.home-content p {
  font-size: 14px;
  margin-top: 10px;
}
.home-sci {
  margin: 20px 2px;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-decoration: none;
  height: 40px;
  width: 40px;
  color: #00abf0;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  margin-left: 4px;
  margin-bottom: 10px;
}
.home-sci a:hover {
  color: white;
  background-color: #00abf0;
}
.btn {
  text-decoration: none;
  color: white;
  background-color: #00abf0;
  padding: 12px 25px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #00abf0;
  transition: 0.2s;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  display: none;
}
br {
  display: none;
}
.footer {
  width: 65%;
  background-color: #031540;
  color: #fff;
  position: absolute;
  top: 96%;
  right: 0;
  text-align: right;
  padding-right: 11%;
  padding-bottom: 10px;
  font-size: 11px;
  cursor: default;
}
@media only screen and (max-width: 992px) {
  .header {
    padding: 1.5rem 5%;
  }
}
@media only screen and (max-width: 790px) {
  html {
    background-color: #031540;
  }
  .icons {
    display: inline-flex;
    transition: 0.3s ease;
  }
  .icons:hover {
    color: #00abf0;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  #close-icon {
    display: none;
  }
  .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar a {
    display: block;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .navbar a.active {
    color: white;
  }
  .navbar a.active:hover {
    color: #00abf0;
  }
  .header {
    background-color: #031540;
  }
  .logo {
    color: #fff;
  }
  .image-home {
    padding-top: 10%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    border-radius: 0%;
  }
  .image-home img{
    position: fixed;
    max-height: 300px;
  }
  .home-content {
    background-color: #031540;
    position: relative;
    top: 150px;
    right: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-content h1 {
    font-size: 30px;
    line-height: 1.2;
    width: 100vw;
    text-align: center;
    margin-top: 17px;
  }
  .home-content h3 {
    font-size: 20px;
    text-align: center;
    width: 100vw;
    color: #00abf0;
  }
  .home-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    width: 100vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
  br {
    display: inline;
  }
  .home-sci {
    text-align: center;
    background-color: #031540;
    width: 100vw;
    font-size: 45px;
    margin-top: 1%;
  }
  .home-content > a {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer {
    color: #fff;
    position: absolute;
    top: 95%;
    right: 36%;
    padding-bottom: 10px;
  }
}